header {
	position: fixed;
	z-index: 1000;
	background: #fff;
	display: flex;
	height: 56px;
	width: 100%;
	align-items: center;
}
.height {
    height: 56px;
}
.logo {
	height: 25px;
	width: 100px;
	margin-right: 70px;
}
.logo2 {
	width: 60px;
	height: 25px;
}
.box {
	display: flex;
}
.search {
	height: 40px;
	width: 410px;
	background: white;
	border: 1px solid #bfbfbf;
	text-align: left;
	margin-left: 160px;
	padding-left: 8px;
	padding-bottom: 2px;
	border-end-start-radius: 3px;
	border-start-start-radius: 3px;
	border-right: none;
}
.search_aside {
	height: 40px;
	width: 42px;
	border: 1px solid #bfbfbf;;
	background: #d5dce0;
	align-items: center;
}
.search_aside2 {
	height: 40px;
	width: 40px;
	border-radius: 100%;
	background: #ccc;
	margin-left: 9px;
}
.search_img {
	height: 15px;
	width: 20px;
}
.search_img2 {
	height: 30px;
	width: 30px;
}
.micro {
    background: #ccc;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
body {
    margin: 0;
    background: #fff;
    height: 1200px;
}
.vd {
    width: 928px;
    height: 522px;
    margin-left:80px;
    margin-top:80px;
}
.vd_article {
	width: 180px;
	height: 105px;
}
.box_2 {
}
.aside {
	background: #fff;
	height: 105px;
	width: 500px;
	margin-top:80px;
	display: flex;
}
.aside_2 {
	display: flex;
	background: #fff;
	height: 105px;
	width: 500px;
	margin-top:20px;
}
.font_main {
	font-family: Arial;
	color: #1c1c1c;
	font-size: 20px;
}
.tecca {
	height: 45px;
	width: 45px;
	border-radius: 100%;
	margin-top: 5px;
	margin-left: 80px;
}
.font_article {
	font-family: Arial;
	color: #1c1c1c;
	font-size: 18px;
	margin-left:15px;
	margin-top:10px;
	height:16px;
}
.font_p {
	color: #696969;
	font-size: 13px;
	font-family: Arial;
    margin-left:15px;
    margin-top:0;
}
.font_a {
	font-size: 17px;
	font-family: Arial;
	color: #1c1c1c;
	margin-left: 10px;
	margin-top:4px;
	height: 16px;
}
.font_p2 {
	color: #5c5c5c;
	font-size: 13px;
	font-family: Arial;
    margin-left:10px;
    height: 12px;
}